name: Run Pytest Tests

on:
    push:
        branches: ["main"]
    pull_request:
        branches: ["main"]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        working-directory: ./backend
        run: |
          python -m pip install --upgrade pip
          pip install fastapi sqlalchemy uvicorn
          pip install -r requirements.txt

      - name: Run unit tests
        working-directory: ./backend
        run: pytest test_unit/ -v

      - name: Run mock database tests
        working-directory: ./backend
        run: pytest tests_mock_db/ -v
